# SSL certificates
pki {{ mail_server_hostname }} certificate "/etc/ssl/certs/wildcard_public_cert.crt"
pki {{ mail_server_hostname }} key "/etc/ssl/private/wildcard_private.key"

# receive mails from outside
listen on em0 port 25 tls pki {{ mail_server_hostname }} tag INCOMING

# using this server as relay required authenticated users
listen on em0 smtps pki {{ mail_server_hostname }} auth

# mails coming from spampd
listen on lo0 port 10026 tag AFTER_SPAMPD

# mails coming from the dkimproxy
listen on lo0 port 10028 tag DKIM

bounce-warn 4h, 1d, 2d
 
# tables
# system-alias-table
table aliases file:/etc/mail/aliases
# domain table
table domains file:/etc/mail/domains
# table for virtual users
table vusers  file:/etc/mail/vusers
 
# locally deliver everything
accept from local for local alias <aliases> deliver to lmtp "/var/dovecot/lmtp"
accept from local for local deliver to lmtp "/var/dovecot/lmtp"
 
# incoming mails are forwarded to spampd
accept tagged INCOMING from any for domain <domains> relay via smtp://localhost:10025 hostname localhost source 127.0.0.1
 
# everything processed by spampd can be delivered
accept tagged AFTER_SPAMPD from any for domain <domains> virtual <vusers> deliver to lmtp "/var/dovecot/lmtp"
 
# mails from dkimproxy are forwarded to the relays
accept tagged DKIM for any relay

# relay mails through dkimproxy
accept for any relay via smtp://localhost:10027
