# Zuerst werden Zertifikat und Schluessel festgelegt
pki foo.my.domain certificate "/etc/ssl/certs/wildcard_public_cert.crt"
pki foo.my.domain key "/etc/ssl/private/wildcard_private.key"

# Um nur lokale Mails zuzustellen kann der smtpd an localhost lauschen
#    listen on localhost
#
# Um Mails von aussen zu empfangen wir an Port 25 gelauscht und verschluesselte Verbindungen angeboten
listen on em0 port 25 tls pki foo.my.domain
# Um den Server als Relay nutzen zu koennen muessen sich Benutzer per smtps verbinden und anmelden
listen on em0 smtps pki foo.my.domain auth
 
# Tabellen setzen
# Die System-Alias-Tabelle
table aliases file:/etc/mail/aliases
# Tabelle der Domains fuer welche Mails angenommen werden sollen
table domains file:/etc/mail/domains
# Tabelle der virtuellen Nutzer. Mapping von virtuellen Mailadressen auf Systembenutzer
table vusers  file:/etc/mail/vusers
 
# Alles was lokal ist wird direkt zugestellt
accept from local for local alias <aliases> deliver to lmtp "/var/dovecot/lmtp"
accept from local for local deliver to lmtp "/var/dovecot/lmtp"
 
# Empfangene Mails in die Maildirverzeichnisse der Benutzer zustellen:
# Im einfachsten Fall koennen einfach alle Mails an die Benutzer des Systems angenommen und zugestellt werden.
#    accept from any for domain foo.my.domain deliver to maildir
 
# Alle Mails von aussen akzeptieren wenn sie zu den akzeptierten domains und virtuellen usern gehoert
accept from any for domain <domains> virtual <vusers> deliver to lmtp "/var/dovecot/lmtp"
 
# Angemeldete Benutzer (die sich per smtps gegen ihre lokalen Benutzerdaten authentifizieren) duerfen Relay nutzen
accept for any relay
